html, body {
    height: 100%;
    width: 100%;
}

.navbar {
    background-color: #041633 !important;
    padding: 1%;
    font-size: 1.2em;
}

.navbar .navbar-nav li a{
    color: #D5D5D5;
}

#landing {
    background: url(../img/cityscape.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.landing-text h1{
    font-size: 500%;
    font-weight: 700;
}

.landing-text h3{
    font-size: 200%;
    font-weight: 500;
}

.padding {
    padding: 80px 0;
}

#backing {
    background: url(../img/cityscape2.jpg) no-repeat center center fixed;
    display: table;
    height: 60%;
    position: relative;
    width: 100%;
    background-size: cover;
}

#portImg {
    border: 1px solid black;
}

footer {
    width: 100%;
    background-color: #041633;
    padding: 5% 5% 10% 5%;
    color: #FFF;
}

footer i {
    padding: 15px;
    font-size: 30px;
    color: #FFF;
}

i {
    padding: 15px;
    font-size: 50px;
    color: red;
}